@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" DefaultScrollbar="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Inherit" Link="https://www.twitter.com/wiiggin" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/imerchant/sf-recipes/" Target="_blank" />
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-6 pt-6">
            <div class="content" px="4">
                @Body
            </div>
        </MudContainer>
    </MudMainContent>
    @* <MudAppBar Elevation="1" Style="position: sticky; bottom: 0" Dense="true" Fixed="true">
        <MudGrid Justify="Justify.Center">
            <MudText Style="font-size:small">I'll get to the warp core and assess its state when I'm able.</MudText>
        </MudGrid>
    </MudAppBar> *@
</MudLayout>
